@import "../../../styles.scss";

.home-container {
  margin-top: 50px;
  color: $primaryGray;
  text-align: center;
  .input {
    font-size: 17px;
    text-align: center;
  }
  .home-daily-promo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
    margin: 40px 0px 40px 0px;
    :hover {
      transform: scale(1.1);
     }
     h2{
      pointer-events: none;
     }
    .home-daily-promo-card {
      border: 1px solid #ece4e4bd;
      background-color: $primaryBackground;
      display: grid;
      place-items: center;
      height: 350px;
      width: 350px;

      .promo-on {
        background-color: rgb(9 236 49 / 72%);
        width: 100%;
        height: 100%;
        border-bottom: 1px solid black;
        display: grid;
        place-items: center;
        pointer-events: none;
        h1 {
          margin: 0;
        }
      }
      .home-daily-promo-card-photo {
        pointer-events: none;
        img {
          max-width: 84px;
          max-height: 153px;
        }
      }
      .home-daily-promo-card-price {
        pointer-events: none;
        text-align: center;
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .home-container {
    .home-daily-promo {
      .home-daily-promo-card {
        height: 250px;
        width: 250px;
      }
    }
  }
}
