<div class="home-container">
  <div class="home-search">
    <mat-form-field class="input">
      <input
        matInput
        placeholder="Nome do jogo"
        [(ngModel)]="inputGameName"
        name="inputGameName"
      />
    </mat-form-field>
    <button mat-raised-button (click)="getDeals()">Procurar</button>
  </div>
  <div class="home-daily-promo">
    <ng-container *ngFor="let game of games$ | async">
      <div
        class="home-daily-promo-card"
        [routerLink]="['/game-deals', game.external]"
      >
        <h2>{{ game?.external }}</h2>
        <div class="home-daily-promo-card-photo">
          <img src="{{ game?.thumb }}" alt="photo" />
        </div>
      </div>
    </ng-container>
  </div>
</div>
