@import "../../../styles.scss";

.home-container {
  color: $primaryGray;
  text-align: center;
  .input {
    font-size: 17px;
    text-align: center;
  }
  .home-daily-promo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    .home-daily-promo-card {
      box-shadow: 9px 6px 34px -9px rgba(0, 0, 0, 0.43);
      -webkit-box-shadow: 9px 6px 34px -9px rgba(0, 0, 0, 0.43);
      -moz-box-shadow: 9px 6px 34px -9px rgba(0, 0, 0, 0.43);
      background-color: $primaryBackground;
      display: grid;
      place-items: center;
      height: 350px;
      width: 350px;
      .promo-on {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid black;
        display: grid;
        place-items: center;
        h1{
          margin: 0;
        }
      }
      .home-daily-promo-card-photo {
        img {
          max-width: 84px;
          max-height: 153px;
        }
      }
      .home-daily-promo-card-price {
        text-align: center;
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .home-container {
    width: 100%;
  }
}
